body {
    margin: 20px;
}


header {
    padding: 10px;
    background-color: cyan;
    border-radius: 20px
}

.flex1 {
    display: flex;
    justify-content: center;
   align-items: center;
    /*   padding:10px; */
}

a {
    padding: 10px;
    text-decoration: none;
    font-weight: 700;
    transition: color 0.3s ease;
}

.flex1 li {
    margin: 5px
}